{{- define "search"}}
    {{- template "page_header" . }}
    <div id="searchbox">
        <input id="searchInput" autofocus placeholder=" ↵" aria-label="search" type="search" autocomplete="off">
        <ul id="searchResults" aria-label="search results"></ul>
    </div>
{{- end}}