{{- define "page_header"}}
    {{- if (eq .Meta.PageType "PAGE_HOME")}}
        {{- template "home_info"}}
    {{- else}}
        <header class="page-header">
            {{- if (eq .Meta.PageType "PAGE_CATEGORY_POST_LIST" "PAGE_TAG_POST_LIST")}}
                <h1>
                    <font style="vertical-align: inherit;">
                        {{- if (eq .Meta.PageType "PAGE_CATEGORY_POST_LIST")}}
                            <font style="vertical-align: inherit;">分类 "{{- .Name}}" 下的文章</font>
                        {{- end}}
                        {{- if (eq .Meta.PageType "PAGE_TAG_POST_LIST")}}
                            <font style="vertical-align: inherit;">标签 "{{- .Name}}" 下的文章</font>
                        {{- end}}
                    </font>
                </h1>
            {{- end}}
        </header>
    {{- end}}

{{- end }}